*{
    margin: 0;
    padding: 0;
}
body{
    
    background-color: rgb(146, 148, 147);
    font-size: x-large;
}

  


input:not([type="checkbox"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;    
    border: 1px solid #b2b2b2;
     
    -webkit-border-radius: 3px;
    border-radius: 3px;
     
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
     
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
     

input[type="submit"]{
    width: 100%!important;
    cursor: pointer;  
    background: rgb(2, 161, 10);
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff;   
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
     
    -webkit-border-radius: 5px;
    border-radius: 5px;
     
    transition: all 0.2s linear;
}
     
input[type="submit"]:hover{
    background: #bddff5;
}
  

  
  /*CSS TELA CLIENTES*/
  
.bt-container { 
    text-align: center 
}
.bt{
    padding: 15px 32px;
    border-radius: 15px;
    font-size: large;
    font-weight: bold;
    background-color: rgb(205, 248, 234);
}
.bt-novo{
    text-align: end;
   
}

.adicionar{
    padding: 10px 32px;
    border-radius: 10px;
    background-color: rgb(6, 241, 25);
    font-weight: bold;
    margin-left: 85%;
    margin-top: -150px;
}
table{
    background-color: #d3d2d2;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 25px;
    text-align: left;
}
table td{
    color: #000000;
    font-size: 20px;
}
#altera{
    font-size: 15px;
    color: rgb(2, 4, 114);
    font-weight: bold;
}

  /*MODAL VENDAS*/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modal:target {
    opacity: 1;
    pointer-events: auto;
}
.modal_cadastro {
    width: 400px;
    position:center;
    margin: 5% auto;
    padding: 15px 20px;
    border-radius: 5px;
    background: rgb(243, 240, 240);
    
}
.fechar {
    position: absolute;
    width: 30px;
    right: 15px;
    top: 20px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 16px;
    color: #8d0000;
}
.form{
    margin-top: 10px;
    font-size: small;
    font-weight: bold;
    height: 10px;
}
#buscar{
    width: 70px;
    height: 30px;
    margin-top: -15px;
    margin-left: 80%;
}
#busca{
    width: 70px;
    background: blue;
    color: white;
    border-radius: 4px;

}
.cliente {
    width: 100%;
    height: 30px;
    
}
.pesquisa{
    width: 600px;
    margin-left: 10px;
}
.pesquisa input{
    width: 300px;
    height: 8px;
}
.pesquisa .btn-submit{
    background-color: rgb(6, 241, 25);
    width: 90px;
    height: 20px;
    margin-right: end;
    
}
.pesquisa .pesquisar{
    background-color: rgb(6, 241, 25);
    width: 90px;
    height: 20px;
    margin-right: end;
}
.btnadd{
    margin-top: -40px;
    width: 200px;
    margin-left: 1050px;
    height: 50px;

}
